<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <h2>{% block title %}{% endblock %}</h2>
    <link rel="stylesheet" href="{{ url_for("static", filename="base.css") }}">
</head>

<body>
<div>
    <ul class="user-info">
        <a href="{{ url_for('public.index') }}">Home | </a>
        {% if current_user.is_anonymous %}
            <a href="{{ url_for('auth.login') }}">Login | </a>
            <a href="{{ url_for('auth.show_signup_form') }}">Registrar</a>
        {% else %}
            {{ current_user.name }}
            |
            <a href="{{ url_for('public.map') }}">Map | </a>
            <a href="{{ url_for('meteo.list_weather_stations') }}">Estaciones | </a>
            {% if current_user.is_admin %}
                <a href="{{ url_for('admin.index') }}">Admin |</a>
            {% endif %}
            <a href="{{ url_for('auth.logout') }}">Logout</a>
            
        {% endif %}
    </ul>
</div>
{% block content %}{% endblock %}
</body>
</html>